name: Deploy MkDocs

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13.11"

      - name: Install docs tooling + project
        run: |
          pip install -e .
          pip install git+https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/subsurfaceiodev/subsurfaceio.git

      - name: Deploy
        run: |
          mkdocs gh-deploy --force
